/*=======Key Features=======*/

.key-features .kvxol {
    padding: 0px; 
  }

  .key-features .single-key {
    background-color: #FFF;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px; 
  }
    .key-features .single-key i {
      background-color: #FFF;
      padding: 20px;
      font-size: 42px;
      color: #4ba302;
      margin-bottom: 30px;
      border-radius: 50px; 
    }

    .key-features .inner title p {
        text-align: center;
        line-height: 20px;
        padding: 5px;
        color: #000000;
        font-size: larger;
    }

  .key-features .ky-1 {
    background-color: #03509e;
    color: #FFF;
    margin-bottom: 0px; 
  }

  .key-features .ky-2 {
    background-color: #0085bc;
    color: #FFF;
    margin-bottom: 0px; 
  }
  
  .department {
    padding: 80px 50px;
    background-color: #FFF; }
    @media screen and (max-width: 940px) {
      .department {
        padding: 50px 10px; } 
      }
    
      .container h1{
        text-align: center;
    color: black;
    font-weight: bold;
    color:#4ba302;
      }